<style>
    .table {
        height: 300px
    }

    @media (min-width: 576px) {
        .buttonContent {
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }

    @media (min-width: 576px) {
        .tableContent {
            -ms-flex: 0 0 80%;
            flex: 0 0 80%;
            max-width: 80%;
        }
    }

    .buttonContent {
        position: relative;
        flex: 0 0 20%;
        max-width: 16%;
        width: 100%;
        padding: 0px 20px;
        height: 0
    }

    .tableContent {
        position: relative;
        flex: 0 0 80%;
        width: 100%;
        max-width: 80%;
        padding:0px 10px;

    }

    .row {

        display: flex;
        flex-wrap: wrap;
    }

    px-card.myTestTable {
        background: white;
        color: rgb(44, 64, 76);
    }

    .csv-export-btn{
        padding: 10px 25px;
        font-size: 18px;
        font-weight: 600;
        border: 2px solid gray;
        color: gray;
        border-radius: 4px;
        cursor: pointer;
        background-color: white;
    }

    #readBtn {
        margin-top: 20px;
    }

    #saveBtn {
        margin-top: 220px;
    }

</style>
